@charset "UFT-8";

body{margin: 0;}


header{
    justify-content: space-between;
    padding: 10px;
    display: flex;
    background-color: rgb(61, 61, 61);}

ul{
    gap: 15px;
    padding: 10px;
    display: flex;}

li{ cursor:pointer;
    color: yellow;
    border: 1px solid yellow;
    padding: 10px;
    list-style-type: none;}

li:hover{
    color: white;}
